:root {
  --shore-100: #caeffb;
  --shore-200: #97def7;
  --shore-300: #4bbcef;
  --shore-400: #42a8d6;
  --shore-500: #3a94bc;
  --shore-600: #3180a3;
  --shore-700: #296c89;
  --shore-800: #215970;
  --shore-900: #184456;
  --shore-1000: #071c23;

  --ocean-1000: #050a12;
  --ocean-900: #0f1a30;
  --ocean-800: #1a264c;
  --ocean-700: #25356a;
  --ocean-600: #314388;
  --ocean-500: #3c51a5;
  --ocean-400: #485bc2;
  --ocean-300: #536ade;
  --ocean-200: #5f78f9;
  --ocean-100: #668aff;

  --azure-1000: #100920;
  --azure-900: #211041;
  --azure-800: #431982;
  --azure-700: #6521c2;
  --azure-600: #7625e3;
  --azure-500: #a272ff;
  --azure-400: #c0a6ff;
  --azure-300: #dfd3ff;
  --azure-200: #efeaff;
  --azure-100: #f7f4ff;

  --gray-100: #ffffff;
  --gray-200: #f0f0f0;
  --gray-300: #e0e0e1;
  --gray-400: #b0b0b6;
  --gray-500: #a19fa9;
  --gray-600: #817f8f;
  --gray-700: #615f6c;
  --gray-800: #403f48;
  --gray-900: #202024;
  --gray-1000: #000000;

  --danger-1000: #120305;
  --danger-900: #24050b;
  --danger-800: #490715;
  --danger-700: #920329;
  --danger-600: #b30937;
  --danger-500: #d80342;
  --danger-400: #e98999;
  --danger-300: #f3bec6;
  --danger-200: #f9d8dd;
  --danger-100: #fdf1f2;

  --info-1000: #050a16;
  --info-900: #0a142c;
  --info-800: #162656;
  --info-700: #2f4bad;
  --info-600: #3957b3;
  --info-500: #4463b8;
  --info-400: #5c7bc2;
  --info-300: #90a7d5;
  --info-200: #c8d3eb;
  --info-100: #e3eaf5;

  --success-1000: #030c09;
  --success-900: #051911;
  --success-800: #0c3121;
  --success-700: #1b6343;
  --success-600: #34775a;
  --success-500: #4f8a71;
  --success-400: #89b2a0;
  --success-300: #c4d9d0;
  --success-200: #e2ede8;
  --success-100: #f0f6f4;

  --warning-1000: #0b0902;
  --warning-900: #bd7c19;
  --warning-800: #da8f1d;
  --warning-700: #f7a221;
  --warning-600: #f7ae38;
  --warning-500: #f8bb52;
  --warning-400: #f9d28b;
  --warning-300: #fadea8;
  --warning-200: #fce8c5;
  --warning-100: #fdf5e2;


  // Spacing:
  --4: 4px;
  --8: 8px;
  --16: 16px;
  --24: 24px;
  --32: 32px;
  --64: 64px;
  --128: 128;
  --512: 512px;

}
