// Nukleus: A design system for knowledge (vue-components-library)
//
// Copyright © 2024 Independent Society of Knowledge
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 2 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>.
//
// Contact Information:
// Independent Society of Knowledge
// Email: projects@iskportal.com
//
// SPDX-License-Identifier: GPL-2.0-or-later
// Developed by: Amir H. Ebrahimnezhad (if you helped or your commits are going to be pulled please add your name and email with a comma.)
// Email:        ceo@iskportal.com
// version 1.0.0

:root {

  // font-sizes:
  --nuke-type-size-h0: 512pt;
  --nuke-type-size-h1: 256pt;
  --nuke-type-size-h2: 128pt;
  --nuke-type-size-h3: 64pt;
  --nuke-type-size-h4: 48pt;
  --nuke-type-size-h5: 32pt;
  --nuke-type-size-h6: 24pt;
  --nuke-type-size-d1: 18pt;
  --nuke-type-size-d2: 16pt;
  --nuke-type-size-d3: 14pt;
  --nuke-type-size-d4: 12pt;
  --nuke-type-size-d5: 10pt;
  --nuke-type-size-d6: 9pt;

  // font-names:
  --nuke-type-model-mono: "IBM Plex Mono";
  --nuke-type-model-sans: "IBM Plex Sans";
  --nuke-type-model-arabic: "IBM Plex Sans Arabic";
  --nuke-type-model-sans-condensed: "IBM Plex Sans Condensed";
  --nuke-type-model-serif: "IBM Plex Serif";

  // font-weight:
  --nuke-type-weight-100: 100;
  --nuke-type-weight-200: 200;
  --nuke-type-weight-300: 300;
  --nuke-type-weight-400: normal;
  --nuke-type-weight-500: 500;
  --nuke-type-weight-600: 600;
  --nuke-type-weight-700: bold;

  // font-style:
  --nuke-type-style-italic: italic;
  --nuke-type-style-normal: normal;
}