// Nukleus: A design system for knowledge (vue-components-library)
//
// Copyright © 2024 Independent Society of Knowledge
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 2 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>.
//
// Contact Information:
// Independent Society of Knowledge
// Email: projects@iskportal.com
//
// SPDX-License-Identifier: GPL-2.0-or-later
// Developed by: Amir H. Ebrahimnezhad (if you helped or your commits are going to be pulled please add your name and email with a comma.)
// Email:        ceo@iskportal.com
// version 1.0.0

$type-sizes: "h0", "h1", "h2", "h3", "h4", "h5", "h6", "d1", "d2", "d3", "d4", "d5", "d6";
$type-weights: "100", "200", "300", "400", "500", "600", "700";
$type-models: "mono", "serif", "sans", "arabic", "sans-condensed";
$type-styles: "italic", "normal";

// Generating Static Classes
@mixin nuke-typography($model, $size, $weight, $style) {
  .nuke-type-#{$model}-#{$size}-#{$weight}-#{$style} {
    font-family: var(--nuke-type-model-#{$model});
    font-weight: var(--nuke-type-weight-#{$weight});
    font-size: var(--nuke-type-size-#{$size});
    font-style: var(--nuke-type-style-#{$style});
  }
}
@each $size in $type-sizes {
  @each $weight in $type-weights {
    @each $model in $type-models {
      @each $style in $type-styles {
        @include nuke-typography($model, $size, $weight, $style);
      }
    }
  }
}
